<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="d-flex justify-content-between align-items-center py-6 px-4">
        <h1>Welcome, {{session['first_name']}}.</h1>
        <a href="/logout" class="btn btn-secondary">Log Out</a>
    </div>
    <hr>
    <main class="d-flex justify-content-around">
        <div class="col-4 bg- p-3 rounded">
            <h2 class="text-center">Calendar by {{session ['first_name']}}</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Today's Events:</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>
                            <a href="/calendar/{{event.id}}/event/details" class="btn btn-sm btn-info">Details</a>
                            {% if event.users_id == session ['user_id'] %}
                            <a href="/events/{{ event.id }}/edit" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/calendar/delete/{{ event.id }}/event" class="btn btn-sm btn-danger">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container mt-4">
                <a href="/show/event_form" class="btn btn-success">Add Event </a>
                <a href="/show/item_form" class="btn btn-success">Add to Shopping List</a>
            </div>
            

            </td>
        </div>
    </main>
</body>

</html>